<ion-view view-title="{{nag.name}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
            <i class="icon ion-ios-arrow-back"> Nags</i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-avatar" type="item-text-wrap">
                <img ng-if="nag.face" ng-src="{{nag.face}}">
                <img ng-if="!nag.face" ng-src="{{nagger.face}}">
                <h2>{{nag.title}}</h2>
                <p>{{nag.message}}</p>
            </ion-item>
            <ion-item ng-if="nag.details" class="item-text-wrap">
                <p>{{nag.details}}</p>
            </ion-item>
            <div class="card" ng-show="nag.video=='squats'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do squats. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WIn1RpFkhU8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='lunges'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do lunges. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fwbjyeXGxCY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='curtsy-lunges'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do curtsy lunges. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Uw8sXQbSAjI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='donkey-kicks'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do donkey kicks. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WWJAczWvogo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='quad-stretch'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do quad stretch. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1dcPeUDczXU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='squat-jumps'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do squat jumps. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/57IU3nSHSeQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='squat-pulses'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do squat pulses. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/r0NDZge8oaE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='sumo-squats'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do sumo squats. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/AcHzQ8xniz8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card" ng-show="nag.video=='toe-touch'">
                <ion-item class="item-avatar" type="item-text-wrap">
                    <img ng-src="img/MarinProfile.jpg" />
                    How to do toe touch. <br /> Watch the video.
                </ion-item>
                <ion-item>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sqnH72YOh6A?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ion-item>
            </div>
   <button class="button button-block button-positive" ng-if="nag.done!=null" ng-click="remove(nag)">
                {{nag.done}}
            </button>
            <button class="button button-block button-positive" ng-if="nag.done==null" ng-click="remove(nag)">
                Done
            </button>
        </ion-list>
    </ion-content>
</ion-view>
