<ion-view view-title="Squat Nagger">
  <ion-content>
    <div ng-if="nagger!=null">
      <div class="list card">
        <div class="item item-divider">My Host</div>
        <div class="item item-body">
          <ion-list>
            <ion-item class="item-thumbnail-left" type="item-text-wrap">
              <img src="img/MarinYoga.jpg"/>
              Keep it up. <br/> You're doing great!
            </ion-item>
            <p>In your session with {{nagger.name}} there are <b>{{nagger.nags.length}}</b> nags remaining and will end
              on {{endingDate.toDateString()}}</p>
          </ion-list>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">My Nagger</div>
        <div class="item item-body">
          <ion-list>
            <ion-item class="item-thumbnail-left" type="item-text-wrap">
              <img ng-src="{{nagger.face}}">
              {{nagger.name}} <br/> ({{nagger.level}})
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div ng-if="nagger==null">
      <div class="list card ">
        <div class="item item-body">
          <ion-item class="item-thumbnail-left" type="item-text-wrap">
            <img ng-src="img/MarinProfile.jpg"/>
            Hi. <br/> I'm Marin. <br/> Watch my video <br/> then get started.
          </ion-item>
        </div>
      </div>
      <ion-item>
        <div class="video-container">
          <youtube-video class="yt" video-id="'E_u4HNGzLx0'" player="custom.player" player-vars="custom.vars"></youtube-video>
        </div>
      </ion-item>
      <ion-item>
        <button class="button button-block button-large button-outline button-royal" ng-click="chooseNagger()">
          Get Started
        </button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
