<ion-view view-title="Squat Nagger">
    <ion-content>
        <div ng-if="nagger!=null">
            <div class="list card">
                <div class="item item-divider">My Host</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item class="item-thumbnail-left" type="item-text-wrap">
                            <img src="img/MarinYoga.jpg" />
                            Keep it up. <br /> You're doing great!
                        </ion-item>
                        <p>In your session with {{nagger.name}} there are <b>{{nagger.nags.length}}</b> nags remaining and will end on {{endingDate.toDateString()}}</p>
                    </ion-list>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">My Nagger</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item class="item-thumbnail-left" type="item-text-wrap">
                            <img ng-src="{{nagger.face}}">
                            {{nagger.name}} <br /> ({{nagger.level}})
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        <div ng-if="nagger==null">
            <div class="video-container">
                <div onclick="thevid = document.getElementById('thevideo'); thevid.style.display = 'block'; this.style.display = 'none'; thevid.src += '&autoplay=1'; ev.preventDefault();">
                    <img src="img/MarinProfile.jpg" style="cursor:pointer" />
                </div>
                         <iframe id="thevideo" style="display:none" width="560" height="315" src="https://www.youtube.com/embed/E_u4HNGzLx0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
               </div>
            <div class="list card">
                <div class="item item-divider">Welcome to Squat Nagger</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item>
                            <p>Squat Nagger will get your butt in shape.</p>
                            <p>Choose a nagger to get started.</p>
                            <button class="button button-block" ng-click="chooseNagger()">
                                Choose Nagger
                            </button>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
