<ion-view view-title="Squat Nagger">
    <ion-content>
        <div ng-if="nagger!=null">
            <div class="list card">
                <div class="item item-divider">My Host</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item class="item-thumbnail-left" type="item-text-wrap">
                            <img src="../img/MarinYoga.jpg" />
                            Keep it up. <br /> You're doing great!
                        </ion-item>
                        <p>In your session with {{nagger.name}} there are <b>{{nagger.nags.length}}</b> nags remaining and will end on {{endingDate.toDateString()}}</p>
                    </ion-list>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">My Nagger</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item class="item-thumbnail-left" type="item-text-wrap">
                            <img ng-src="{{nagger.face}}">
                            {{nagger.name}} <br /> ({{nagger.level}})
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        <div ng-if="nagger==null">
            <video controls style="width:100%">
                <source src="vid/Intro_x264.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
            </video>
            <div class="list card">
                <div class="item item-divider">Welcome to Squat Nagger</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item>
                            <p>Squat Nagger will get your butt in shape.</p>
                            <p>Choose a nagger to get started.</p>
                            <button class="button button-block" ng-click="chooseNagger()">
                                Choose Nagger
                            </button>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
